.Direction {
    font-size: medium;
    font-style: initial;
    font-size: 25px;
   
    background-color:lightslategray;
}
.Direction:hover {
    background-color:fuchsia;
}
    
.MEN{
    font-size: large;
    font-style:oblique;
    color: black;
}
.SONG{
    font-size: medium;
    font-style:italic;
    color: black;
}
.GIRLS{
    font-size: large;
    font-style:inherit;
    color: black;
}
table
th,
td{
    text-align: center;
    border: 3px solid;
    margin: 30px 30px 20px 30px;
    border-color: coral;
}
th,
td{
    padding: 10px;
}